body {
  margin: 0px;
  font-family: 'Luxurious Roman', cursive;
}
section {
  position: relative;
  float: left;
  margin: 20px;
  padding: 40px 20px 20px 20px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #dcffef;
  font-size: 20px;
  color: #000000;
}
h1 {
  text-align: center;
  font-size: 35px; 
  font-family: 'Roboto', sans-serif;
}
.title1,
.title2,
.title3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 130px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 25px;
}
.title1 {
  background-color: #515fff;
}
.title2 {
  background-color: #fcff51;
}
.title3 {
  background-color: #ff9151;
}

/*for moblie*/
@media (max-width: 767px) {
  section {
    width: calc(100% - 40px);
  }
}

/*for tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  section {
    width: calc((100% - 80px) / 2);
  }
  section.other {
    width: calc(100% - 40px);
  }
}

/*for desktop*/
@media (min-width: 992px) {
  section {
    width: calc((100% - 120px) / 3);
  }
}

