@media (max-width: 767px) {
#myNavbar {
	background-color: #6bff0e;
}
}

.navbar-default .navbar-nav>li>a {
    color: #000 !important;
	text-align: center;
}

body {
	background-color: #beffb8 !important;
}

.parrafo {
	background-color: #e7e7e7 !important;
	border: solid 1px #142c04;
	padding: 15px;
}